/* add google fonts */

/*
font-family: 'Berkshire Swash', cursive;
font-family: 'Manrope', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  background-color: #282f3c;
}

.theme-container {
  max-width: 100%;
  width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.box-container {
  max-width: 100%;
  width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* hero section style */
.header-hero {
  background-image: url("./images/hero_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #111827;
  padding: 96px 0;
  width: 100%;
  height: 100%;
}

.hero-shape {
  position: absolute;
  width: 80px;
}

/* Hide the default arrow icon */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* header hero */
.header-hero h1 {
  font-family: "Berkshire Swash", cursive;
  color: #ea580c;
}

.player-thumbnail img {
  max-width: 100%;
  /* min-height: 230px; */
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  height: 230px;
}
.bg-gray-1000 {
  background-color: #282f3c !important;
}

.create-player,
.budget,
.player-list,
.player-single-items {
  background: #111827;
  border: 2px solid #4a4949;
}

.player-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 15px;
}
.selected-btn,
#selected-btn {
  background: #1d4ed8;
  border: none;
  width: 100%;
  color: #fff;
}

.img {
  max-width: 100% !important;
  width: 100% !important;
}

svg {
  width: 35%;
  margin-top: -21px;
}

.budget {
  padding: 10px;
  color: #fff;
}
select,
input {
  color: #fff;
  border: 2px solid #4a4949;
  outline: none;
  background-color: transparent;
  max-width: 100%;
  width: 120px;
  padding: 5px 8px;
}

/* Spinner */
#createPlayerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader {
  color: #fff;
  display: none;
  margin-left: 15px;
}

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 2.9px;
  background: conic-gradient(from 135deg at top, #ffffff 90deg, #0000 0) 0
      calc(50% - 1.9px) / 8.2px 4.1px,
    radial-gradient(
        farthest-side at bottom left,
        #0000 calc(100% - 2.9px),
        #ffffff calc(100% - 2.4px) 99%,
        #0000
      )
      top right/50% 50% content-box content-box,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 2.9px),
        #ffffff calc(100% - 2.4px) 99%,
        #0000
      )
      bottom / 100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: spinner-v8og74 1s infinite linear;
}

@keyframes spinner-v8og74 {
  100% {
    transform: rotate(1turn);
  }
}

#activeInput {
  background-color: #111827;
}
option {
  background: #111827;
}

/* image drop */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.drop-container {
  border: 2px dashed #4a4949;
  /* border-radius: 8px; */
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
select,
span,
input,
label,
li,
h2,
h5,
p,
h3 {
  color: #bcbcbc !important;
}
h2,
h3,
h5 {
  font-weight: 600 !important;
}
.player-goals {
  font-size: 14px;
  color: #bcbcbc;
}

.drop-message {
  font-size: 16px;
}

.file-input {
  /* display: none; */
  border: none;
  width: 110px;
}

.preview-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.preview-image {
  max-width: 100%;
  max-height: auto;
  border-radius: 8px;
}

.player-board .card {
  background-color: #111827;
  color: #fff;
}
